.rsc-header,
.rsc-ts-bubble {
  background-color: #0d497e !important;
  color: white !important;
}
.rsc-os-option-element,
.rsc-ts-user .rsc-ts-bubble {
  background-color: #9b222b !important;
}
a, .custom{
  color: white;
}
.rsc-footer{
  display: none !important;
}
.rsc-content{
  height: 100% !important;
}